#nav2{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 20px;
    margin-bottom: 50px;
}
#nav2>img{
    width:5%;   
}
#nav2>img:last-child{
    width: 3%;
}
#logo{
    width: 100%;
}
#nav2>input{
    padding:10px 180px 10px 10px ;
}
#signUp{
    cursor: pointer;
}