#signup{
    width: 33%;
    margin: auto;
    margin-top: 150px;
}
#signup>input{
    width: 100%;
    font-size: 2rem;
}
#signup>button{
    font-size: 20px;
    padding: 10px  60px ;
    margin-left: 260px;
    cursor: pointer;
    background-color: rgb(224, 224, 48);
    border: 0px;
    color: white;
}
#signup>hr{
    margin: 10px 0px 20px 0px ;
}